.footer{
    height: 172px;
    background-color: #f2f2f2;
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.left{
  padding-top:15px;
    .link {
    a {
      color: #999;
    }

    .line {
      margin: 0 10px;
      color: #999;
    }
  }

  .copyright {
    span {
      margin-right: 15px;
    }
  }
}
.right{
    display: flex;
    .linkItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    .link {
        display: block;
        width: 50px;
        height: 45px;
  
        background-image: url("../../assets/img/sprite_footer_02.png");
        background-size: 110px 450px;
      }
  
      :nth-child(1) .link {
        background-position: -60px -101px;
      }
      :nth-child(2) .link {
        background-position: 0 0;
      }
      :nth-child(2) .link {
        background-position: -60px -50px;
      }
      :nth-child(2) .link {
        background-position: 0 -101px;
      }
    }
}